@charset "UTF-8";
/* Styles commun à tous les exemples */
* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 1.2;
  color: grey;
}

b {
  font-weight: bold;
  color: darkcyan;
}

a {
  color: black;
}
a:hover {
  color: darkcyan;
}

nav {
  background-color: #d8ffff;
  position: fixed;
  z-index: 999;
  top: 32px;
  right: 32px;
  padding: 16px;
}

section {
  overflow: hidden;
}

article {
  height: 100vh;
  border: 16px solid darkcyan;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* 1_vertical_simple.html */
html#vertical_simple {
  overflow: hidden;
  scroll-behavior: smooth;
}
html#vertical_simple #chapter2 article p {
  transition: all 1s;
  transform: scale(0);
}
html#vertical_simple #chapter2:target article p {
  transform: scale(1);
}
html#vertical_simple #chapter3 {
  position: relative;
}
html#vertical_simple #chapter3 .sidebar {
  background-color: darkcyan;
  position: absolute;
  top: 0;
  right: 16px;
  width: 50%;
  transition: all 1s;
  transform: translateX(100%);
  color: white;
}
html#vertical_simple #chapter3 .sidebar b {
  color: white;
}
html#vertical_simple #chapter3 .sidebar.open {
  transform: translateX(0);
}
html#vertical_simple #chapter3 .sidebar .button {
  position: absolute;
  background-color: darkcyan;
  width: 64px;
  height: 64px;
  left: 0;
  top: 50%;
  transform: translateY(-50%) translateX(-48px);
  border-radius: 50%;
  cursor: pointer;
}

/* 2_horizontal_simple.html */
html#horizontal_simple {
  overflow: hidden;
  scroll-behavior: smooth;
}
html#horizontal_simple body {
  display: flex;
  width: 300vw;
}
html#horizontal_simple section {
  width: 100vw;
}
html#horizontal_simple #chapter2 article p {
  transition: all 1s;
  transform: scale(0);
}
html#horizontal_simple #chapter2:target article p {
  transform: scale(1);
}
html#horizontal_simple #chapter3 {
  position: relative;
}
html#horizontal_simple #chapter3 .sidebar {
  background-color: darkcyan;
  position: absolute;
  top: calc( 50% - 32px / 2);
  width: 100%;
  height: 50%;
  transition: all 1s;
  transform: translateY(100%);
  color: white;
}
html#horizontal_simple #chapter3 .sidebar b {
  color: white;
}
html#horizontal_simple #chapter3 .sidebar.open {
  transform: translateY(0);
}
html#horizontal_simple #chapter3 .sidebar .button {
  position: absolute;
  background-color: darkcyan;
  width: 64px;
  height: 64px;
  left: 50%;
  top: 0;
  transform: translateY(-48px) translateX(-50%);
  border-radius: 50%;
  cursor: pointer;
}

/* 3_grille_simple.html */
html#grille_simple {
  overflow: hidden;
  scroll-behavior: smooth;
}
html#grille_simple body {
  display: flex;
  flex-wrap: wrap;
  width: 300vw;
}
html#grille_simple section {
  width: 100vw;
}
html#grille_simple #chapter2 article p {
  transition: all 1s;
  transform: scale(0);
}
html#grille_simple #chapter2:target article p {
  transform: scale(1);
}
html#grille_simple #chapter3 {
  position: relative;
}
html#grille_simple #chapter3 .sidebar {
  background-color: darkcyan;
  position: absolute;
  top: calc( 50% - 32px / 2);
  width: 100%;
  height: 50%;
  transition: all 1s;
  transform: translateY(100%);
  color: white;
}
html#grille_simple #chapter3 .sidebar b {
  color: white;
}
html#grille_simple #chapter3 .sidebar.open {
  transform: translateY(0);
}
html#grille_simple #chapter3 .sidebar .button {
  position: absolute;
  background-color: darkcyan;
  width: 64px;
  height: 64px;
  left: 50%;
  top: 0;
  transform: translateY(-48px) translateX(-50%);
  border-radius: 50%;
  cursor: pointer;
}
html#grille_simple #chapter5 {
  margin-left: 100vw;
}

/* 4_vertical_scroll.html */
html#vertical_scroll body {
  transition: all 1s;
}
html#vertical_scroll body.chapter1 {
  background-color: bisque;
}
html#vertical_scroll body.chapter2 {
  background-color: lightpink;
}
html#vertical_scroll body.chapter3 {
  background-color: aqua;
}
html#vertical_scroll main {
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
html#vertical_scroll section {
  scroll-snap-align: start;
}
html#vertical_scroll #chapter2 article p {
  transition: all 1s;
  transform: scale(0);
}
html#vertical_scroll #chapter2 article.visible p {
  transform: scale(1);
}
html#vertical_scroll #chapter3 {
  position: relative;
}
html#vertical_scroll #chapter3 .sidebar {
  background-color: darkcyan;
  position: absolute;
  top: 0;
  right: 16px;
  width: 50%;
  transition: all 1s;
  transform: translateX(100%);
  color: white;
}
html#vertical_scroll #chapter3 .sidebar b {
  color: white;
}
html#vertical_scroll #chapter3 .sidebar.open {
  transform: translateX(0);
}
html#vertical_scroll #chapter3 .sidebar .button {
  position: absolute;
  background-color: darkcyan;
  width: 64px;
  height: 64px;
  left: 0;
  top: 50%;
  transform: translateY(-50%) translateX(-48px);
  border-radius: 50%;
  cursor: pointer;
}

/* 5_horizontal_scroll.html */
html#horizontal_scroll {
  /*
    main{
      height: 100vh;
      overflow: auto;
      scroll-behavior: smooth;
      scroll-snap-type: y mandatory;
    }

    section{
      scroll-snap-align: start;
    }
    */
}
html#horizontal_scroll body {
  transition: all 1s;
}
html#horizontal_scroll body.chapter1 {
  background-color: bisque;
}
html#horizontal_scroll body.chapter2 {
  background-color: lightpink;
}
html#horizontal_scroll body.chapter3 {
  background-color: aqua;
}
html#horizontal_scroll main {
  border: 1px solid red;
  transform: rotate(-90deg) translateY(-600px);
  transform-origin: right top;
  height: 900px;
  width: 600px;
  overflow-y: auto;
}
html#horizontal_scroll main section {
  height: 900px;
  width: 900px;
  border: 1px solid black;
  transform: rotate(90deg) translateX(900px);
  transform-origin: right top;
}
html#horizontal_scroll main article {
  height: 600px;
  width: 900px;
}
html#horizontal_scroll #chapter2 article p {
  transition: all 1s;
  transform: scale(0);
}
html#horizontal_scroll #chapter2 article.visible p {
  transform: scale(1);
}
/*# sourceMappingURL=app.css.map */