/* Styles commun à tous les exemples */

$primaryColor: darkcyan;
$secondaryColor: grey;
$marge: 32px;

*{
  box-sizing: border-box;
}

body{
  font-size: 14px;
  line-height: 1.2;
  color: $secondaryColor
}

b{
  font-weight: bold;
  color: $primaryColor;
}

a{
  color: darken($primaryColor, 50%);
  &:hover{
    color: $primaryColor;
  }
}

nav{
  background-color: lighten($primaryColor, 65%);
  position: fixed;
  z-index: 999;
  top: $marge;
  right: $marge;
  padding: $marge / 2;
}

section{
  overflow: hidden;
}

article{
  height: 100vh;
  border: $marge / 2 solid $primaryColor;
  padding: $marge;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* 1_vertical_simple.html */

html#vertical_simple{

  overflow: hidden;
  scroll-behavior: smooth;

  #chapter2 article p{
    transition: all 1s;
    transform: scale(0);
  }

  #chapter2:target article p{
    transform: scale(1);
  }

  #chapter3{
    position: relative;
    .sidebar{
      background-color: $primaryColor;
      position: absolute;
      top: 0;
      right: $marge / 2;
      width: 50%;
      transition: all 1s;
      transform: translateX(100%);
      color: white;
      b{
        color: white;
      }
      &.open{
        transform: translateX(0);
      }
      .button{
        position: absolute;
        background-color: $primaryColor;
        width: $marge * 2;
        height: $marge * 2;
        left: 0;
        top: 50%;
        transform: translateY(-50%) translateX(-48px);
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }

}

/* 2_horizontal_simple.html */

html#horizontal_simple{

  overflow: hidden;
  scroll-behavior: smooth;

  body{
    display: flex;
    width: 300vw;
  }

  section{
    width: 100vw;
  }

  #chapter2 article p{
    transition: all 1s;
    transform: scale(0);
  }

  #chapter2:target article p{
    transform: scale(1);
  }

  #chapter3{
    position: relative;
    .sidebar{
      background-color: $primaryColor;
      position: absolute;
      top: calc( 50% - #{$marge} / 2);
      width: 100%;
      height: 50%;
      transition: all 1s;
      transform: translateY(100%);
      color: white;
      b{
        color: white;
      }
      &.open{
        transform: translateY(0);
      }
      .button{
        position: absolute;
        background-color: $primaryColor;
        width: $marge * 2;
        height: $marge * 2;
        left: 50%;
        top: 0;
        transform: translateY(-48px) translateX(-50%);
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }

}

/* 3_grille_simple.html */

html#grille_simple{

  overflow: hidden;
  scroll-behavior: smooth;

  body{
    display: flex;
    flex-wrap: wrap;
    width: 300vw;
  }

  section{
    width: 100vw;
  }

  #chapter2 article p{
    transition: all 1s;
    transform: scale(0);
  }

  #chapter2:target article p{
    transform: scale(1);
  }

  #chapter3{
    position: relative;
    .sidebar{
      background-color: $primaryColor;
      position: absolute;
      top: calc( 50% - #{$marge} / 2);
      width: 100%;
      height: 50%;
      transition: all 1s;
      transform: translateY(100%);
      color: white;
      b{
        color: white;
      }
      &.open{
        transform: translateY(0);
      }
      .button{
        position: absolute;
        background-color: $primaryColor;
        width: $marge * 2;
        height: $marge * 2;
        left: 50%;
        top: 0;
        transform: translateY(-48px) translateX(-50%);
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }

  #chapter5{
    margin-left: 100vw;
  }

}



/* 4_vertical_scroll.html */

html#vertical_scroll{

  body{
    transition: all 1s;
    &.chapter1{
      background-color: bisque;
    }
    &.chapter2{
      background-color: lightpink;
    }
    &.chapter3{
      background-color: aqua;
    }

  }

  main{
    height: 100vh;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }

  section{
    scroll-snap-align: start;
  }

  #chapter2 article{
    p{
      transition: all 1s;
      transform: scale(0);
    }
    &.visible p{
      transform: scale(1);
    }
  }

  #chapter3{
    position: relative;
    .sidebar{
      background-color: $primaryColor;
      position: absolute;
      top: 0;
      right: $marge / 2;
      width: 50%;
      transition: all 1s;
      transform: translateX(100%);
      color: white;
      b{
        color: white;
      }
      &.open{
        transform: translateX(0);
      }
      .button{
        position: absolute;
        background-color: $primaryColor;
        width: $marge * 2;
        height: $marge * 2;
        left: 0;
        top: 50%;
        transform: translateY(-50%) translateX(-48px);
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }

}

/* 5_horizontal_scroll.html */

html#horizontal_scroll{



  body{
    transition: all 1s;
    &.chapter1{
      background-color: bisque;
    }
    &.chapter2{
      background-color: lightpink;
    }
    &.chapter3{
      background-color: aqua;
    }

  }


  main{
    border: 1px solid red;
    transform: rotate(-90deg) translateY(-600px);
    transform-origin: right top;
    height: 900px;
    width: 600px;
    overflow-y: auto;

    section{
      height: 900px;
      width: 900px;
      border: 1px solid black;
      transform: rotate(90deg) translateX(900px);
      transform-origin: right top;
    }
    article{
      height: 600px;
      width: 900px;
    }
  }


  #chapter2 article{
    p{
      transition: all 1s;
      transform: scale(0);
    }
    &.visible p{
      transform: scale(1);
    }
  }

}

/* 6_vertical_sanimate_fixed.html */

html#vertical_animate_fixed{


  main{
    height: 100vh;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }

  section{
    scroll-snap-align: start;
  }

  .matrice{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    width: $marge * 6;
    transform: skew(0deg, 20deg) scale(1.5);
    transform-origin: bottom right;
    div{
      background-color: $primaryColor;
      border: 1px solid white;
      width: $marge * 2;
      height: $marge * 2;
      transition: all .3s;
      transform: translate(0, 0);
      opacity: .3;
      &:nth-child(1){
        transform: translate(-55vw, -55vh);
      }
      &:nth-child(2){
        transform: translate(0, -55vh);
      }
      &:nth-child(3){
        transform: translate(55vw, -55vh);
      }
      &:nth-child(4){
        transform: translate(-55vw, 0);
        transition-delay: .3s;
      }
      &:nth-child(5){
        transform: translate(0, 0);
      }
      &:nth-child(6){
        transform: translate(55vw, 0);
        transition-delay: .3s;
      }
      &:nth-child(7){
        transform: translate(-55vw, 55vh);
        transition-delay: .3s;
      }
      &:nth-child(8){
        transform: translate(0, 55vh);
        transition-delay: .6s;
      }
      &:nth-child(9){
        transform: translate(55vw, 55vh);
        transition-delay: .6s;
      }
    }
  }


  .chapter2, .chapter3, .chapter4{
    .matrice{
      div:nth-child(1),
      div:nth-child(6),
      div:nth-child(8){
        transform: translate(0, 0);
      }
    }
  }

  .chapter3, .chapter4{
    .matrice{
      div:nth-child(3),
      div:nth-child(7){
        transform: translate(0, 0);
      }
    }
  }

  .chapter4{
    .matrice{
      div:nth-child(2),
      div:nth-child(4),
      div:nth-child(9){
        transform: translate(0, 0);
      }
      div{
        opacity: 1;
      }
    }
  }

}


/* 7_vertical_sanimate_svg.html */

html#vertical_animate_svg{

  svg{
    width: 100%;
    height: 100vh;
    background-color: lighten($primaryColor, 20%);
    position: absolute;
    z-index: 0;
    transition: all 2s;
    circle{
      transition: all .5s;
      transform-origin: center;
      fill: transparent;
      stroke: white;
      stroke-width: 2px;
    }
    #myCircle1{
      stroke-dasharray: 1000px;
      stroke-dashoffset: 1000px;
    }
    #myCircle2{
      stroke-dasharray: 660px;
      stroke-dashoffset: 0;
    }
  }
  .chapter2 svg{
    background-color: lighten($primaryColor, 10%);
    #myCircle1{
      stroke-dashoffset: 666px;
    }
    #myCircle2{
      stroke-dashoffset: 220px;
    }
  }
  .chapter3 svg{
    background-color: darken($primaryColor, 10%);
    #myCircle1{
      stroke-dashoffset: 333px;
    }
    #myCircle2{
      stroke-dashoffset: 440px;
    }
  }
  .chapter4 svg{
    background-color: darken($primaryColor, 20%);
    #myCircle1{
      stroke-dashoffset: 0px;
    }
    #myCircle2{
      stroke-dashoffset: 660px;
    }
  }
  main{
    position: relative;
    height: 100vh;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }

  section{
    scroll-snap-align: start;
  }

}

/* 8_vertical_skrollr.html */

html#vertical_skrollr{
  overflow-x: hidden;
  #chapter4{
    display: flex;
    width: 400vw;
    article{
      width: 20%;
    }
  }
}

/* 5_horizontal_scroll_js.html */

html#horizontal_scroll_js{

  .horizontal-scroll{
    display: flex;
    scroll-behavior: smooth;
    > *{
      min-width: 100vw;
    }
  }
}


/* 9_grille_dragndrop.html */

html#grille_dragndrop{
  overflow: hidden;
//  scroll-behavior: auto;
  [draggable]{
    width: 300vw;
    display: flex;
    flex-wrap: wrap;
    > *{
      width: 100vw;
    }
  }
}
